
@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ListCars</title>
</head>
<body>
    <h1>@ViewBag.Title</h1>
    <h3>@Model.CarCategory</h3>
    <div class="row mt-5 mb-2">
        @{

            foreach (Car car in Model.GetCars)
            {
                @await Html.PartialAsync("AllCars", car)
            }


        }
    </div>
</body>
</html>
